*, *:before, *:after {
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
    font-family: Roboto-Regular;
    font-size: 16px;
}

#main {
    max-width: 1920px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
}
#main section {
    display: block;
    width: 100%;
}
#main section:after {
    content: '';
    display: table;
    clear: both;
}
#main section .col {
    display: block;
    width: 50%;
    float: left;
}
#main section .col .wrapper {
    padding: 20px;
}
.img-part {
    border-right: 2px solid #acacac;
    height: 100vh;
}
.img-part .img-presentation {
    min-height: 600px;
    height: 80%;
    border-bottom: 2px solid #acacac;
}
.img-part .img-presentation .wrapper {
    height: 100%;
}
.img-part .img-presentation #img-preview {
    position: relative;
    height: 100%;
    background-color: #f9f9f9;
    overflow: hidden;
}
.img-part .img-presentation #img-preview img {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 100%;
}
.img-part .img-presentation #img-preview .loader {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(248,248,248,0.6);
    font-size: 32px;
    color: #333;
    text-align: center;
    z-index: 1;
}
.img-part .img-presentation #img-preview .loader.active {
    display: block;
}
.img-part .img-presentation #img-preview .loader .loader-text {
    position: absolute;
    width: 128px;
    height: 128px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.img-part .img-upload {
    padding: 10px 15px;
}
.img-upload__hd {
    padding: 5px;
    margin-bottom: 10px;
}
.hd {
    font-family: Roboto-Medium;
    font-size: 32px;
    color: #333;
}
.img-part .img-upload .field {
    display: block;
    width: 60%;
    float: left;
    border: 1px solid #acacac;
    border-radius: 4px;
}
.img-part .img-upload .field input[type=file] {
    display: none;
}
.img-part .img-upload .field label {
    cursor: pointer;
    position: relative;
    display: block;
    padding: 8px 10px;
    height: 40px;
}
.img-part .img-upload .field label .src {
    display: block;
    width: 100%;
    padding: 2px 120px 2px 3px;
    overflow: hidden;
}
.img-part .img-upload .field label .upload-btn {
    cursor: pointer;
    display: block;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #1a9f29;
    color: #fff;
    padding: 0 30px;
    line-height: 40px;
    font-size: 18px;
    transition: background 0.25s ease;
}
.img-part .img-upload .field label .upload-btn:hover {
    background-color: #1c8228;
    transition: background 0.25s ease;  
}
.img-part .img-upload .btn-con {
    display: block;
    width: 30%;
    margin-left: 10px;
    float: left;
}
.img-part .img-upload .btn-con input[type=submit] {
    cursor: pointer;
    display: block;
    height: 42px;
    padding: 5px 20px;
    background-color: #1a9f29;
    color: #fff;
    font-size: 18px;
    border: 1px solid #acacac;
    border-radius: 4px;
    transition: background 0.25s ease;
}
.img-part .img-upload .btn-con input[type=submit]:hover {
    background-color: #1c8228;
    transition: background 0.25s ease;  
}

.form-part__hd {
    padding: 5px 0;
    margin-bottom: 10px;
}
.row + .row {
    margin-top: 10px;
}
.row:after {
    content: '';
    display: table;
    clear: both;
}
.row .fcol {
    display: block;
    width: 50%;
    float: left;
    padding: 10px;
}
.fcol .f-item {
    width: 100%;
}
.fcol .f-item label {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    font-family: Roboto-Medium;
    font-size: 22px;
    color: #6d6d6d;
}
.fcol .f-item .fi {
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #acacac;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 7px;
}

.tiles .tile-item {
  width: calc(100% * (1 / 3) - 14px);
  margin: 7px;
  position: relative;
}

.tiles .tile-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tiles .tile-item .tile-title {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  padding: 15px 25px;
  background-color: #000000d1;
  color: #ffffff;
}

@media only screen and (max-width: 700px) {
  .tiles .tile-item {
    width: calc(100% * (1 / 2) - 14px);
  }
}

@media only screen and (max-width: 550px) {
  .tiles {
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .tiles .tile-item {
    width: auto;
    flex: 1 0 auto;
  }
  .tiles .tile-item img {
    max-width: 380px;
    max-height: 380px;
  }
}