
{% extends "base.html" %}

{% block content %}
<h3>jhgjh</h3>
<ul id='chat-items'>

</ul>

<form id='form' method='POST'> {% csrf_token %}
{{form.as_p }}
<input type='submit' name="l" class='btn btn-primary'/ >
</form>

{% endblock %}

{% block script %}

<script>
$(document).ready(function() {

    // alert("jquery world")
    var formData = $("#form")
    var messageInput = $("#id_message")
    var chatItems = $('#chat-items')
    var loc = window.location
    var wsStart = "ws://"
    if (loc.protocol == "https:") {
        wsStart = "wss://"
    }
    var webSocketEndpoint = wsStart + loc.host + loc.pathname  // ws : wss
    console.log(webSocketEndpoint)
    var socket = new WebSocket(webSocketEndpoint)
    socket.onmessage = function (e) {
        console.log('message', e)
        // alert(e.data)
        var msgData = JSON.parse(e.data)
        console.log(msgData)
        chatItems.append(`<li>${msgData.first_name} ${msgData.last_name}  wants u</li>`)
        chatItems.append(`<img width ="400" height="500"  src=${msgData.image}>`)
        chatItems.append(`<p name="l" id=${msgData.id} class="find">lkdjlkdjl</p>`)

    }
    socket.onopen = function (e) {
        {#console.log('open', e)#}
        {#formData.submit(function (event) {#}
        {#    event.preventDefault()#}
        {#    var messageText = messageInput.val()#}
        {#    console.log(messageText)#}
        {#    var jsonData = JSON.stringify({msg: messageText, user: 'jmitchel3'})#}
        {#    socket.send(jsonData)#}
        {#    formData[0].reset()})#}
    }
    socket.onerror = function (e) {
        console.log('error', e)
    }
    socket.onclose = function (e) {
        console.log('closed', e)
    }
    if (socket.readyState == WebSocket.OPEN) {
    } else if (socket.readyState == WebSocket.CONNECTING) {
        console.log("connecting..")
    }


})
</script>
   <script> $(document).ready(function() {


    // alert("jquery world")
    var formData = $("#form")
    var messageInput = $("#id_message")
    var chatItems = $('#chat-items')
       {#var InputData = $(input)#}
    var loc = window.location
    var wsStart = "ws://"
    if (loc.protocol == "https:") {
        wsStart = "wss://"
    }
    var webSocketEndpoint = wsStart +loc.host+  "/security/" // ws : wss
    console.log(webSocketEndpoint)
    var socket = new WebSocket(webSocketEndpoint)
    socket.onmessage = function (e) {
        console.log('message', e);
        // alert(e.data)
        var msgData = JSON.parse(e.data)
        console.log(msgData)
        chatItems.append(`<li>${msgData.msg}  ${msgData.user} wants u</li>`)


    };
    socket.onopen = function (e) {
        console.log('open', e)
        {#formData.submit(function (event) {#}
        {#    e.preventDefault()#}
            $('#49').click(function (event) {
                console.log("lkl")
            var messageText = $(this).attr('id')
                console.log(messageText)
        });

        {#    console.log(messageText)#}
        {#    var jsonData = JSON.stringify({msg: messageText, user: 'jmitchel3'})#}
        {#    socket.send(jsonData)#}
        {#    formData[0].reset()})#}
        var jsonData = JSON.stringify({msg: "plolk", user: 'ljklj'})
            socket.send(jsonData)

    };
    socket.onerror = function (e) {
        console.log('error', e)
    };
    socket.onclose = function (e) {
        console.log('closed', e)
    }
    if (socket.readyState == WebSocket.OPEN) {
    } else if (socket.readyState == WebSocket.CONNECTING) {
        console.log("connecting..")
    }


})
</script>
{% endblock %}