 <script> $(document).ready(function() {


    // alert("jquery world")
    var formData = $("#form")
    var messageInput = $("#id_message")
    var chatItems = $('#chat-items')
    var loc = window.location
    var wsStart = "ws://"
    if (loc.protocol == "https:") {
        wsStart = "wss://"
    }
    var webSocketEndpoint = wsStart +loc.host+  "/security/" // ws : wss
    console.log(webSocketEndpoint)
    var socket = new WebSocket(webSocketEndpoint)
    socket.onmessage = function (e) {
        console.log('message', e)
        // alert(e.data)
        {#var msgData = JSON.parse(e.data)#}
        {#console.log(msgData)#}
        {#chatItems.append(`<li>${msgData.msg} via ${msgData.user}</li>`)#}
    }
    socket.onopen = function (e) {
        console.log('open', e)
        {#formData.submit(function (event) {#}
        {#    event.preventDefault()#}
        {#    var messageText = messageInput.val()#}
        {#    console.log(messageText)#}
        {#    var jsonData = JSON.stringify({msg: messageText, user: 'jmitchel3'})#}
        {#    socket.send(jsonData)#}
        {#    formData[0].reset()})#}
    }
    socket.onerror = function (e) {
        console.log('error', e)
    }
    socket.onclose = function (e) {
        console.log('closed', e)
    }
    if (socket.readyState == WebSocket.OPEN) {
    } else if (socket.readyState == WebSocket.CONNECTING) {
        console.log("connecting..")
    }


})
</script>
