<!doctype html>
{% load staticfiles %}
<html lang=''>
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="{% static "css/s.css" %}">
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <script src="{% static "js/script.js" %}"></script>
   <title>CSS MenuMaker</title>
</head>
<body>

<div id='cssmenu'>
<ul>
    {%  for category in categories %}
   <li class='has-sub'><a href='#'><span>{{ category }}</span></a>

      <ul>{%  for member  in category.members.all%}
         <li ><a data-id="{{ member.id }}" class="z"  href='#'><span>{{ member }}</span></a></li>
         {% endfor %}
      </ul>
   </li>


    {% endfor %}
</ul>
</div>
<div class="main-container">
    <div class="panel">
        <p id="{{ guest.id }}" name="guest">{{ guest }}</p>
        <img  src="{{ guest.image.url }}">
    </div><br>
    <div class="panel1">
{#<form id='form' method='POST'>#}
{#    {% csrf_token %}#}
    <p id="first_name" data-id="0" alt=""></p>
        <p id="middle_name"></p>
        <p id="last_name"></p>
        <p id="room"></p>
        <p id="phone_number"></p>
        <p id="category"></p>
        <input type="submit" value="submit" id="submit"></input>
{#</form>#}
    </div>
</div>
    <script>
        $(document).ready(function() {
            $('.z').click(function (e) {
                e.preventDefault();
                $.ajax({

    url: '',
                    data:{'id': $(this).data('id'),},
    type: 'get', // This is the default though, you don't actually need to always mention it
    success: function(data) {
        $('#first_name').text(data['first_name']);
        $('#last_name').text(data['last_name']);
        $('#middle_name').text(data['middle_name']);
        $('#room').text(data['room']);
        $('#phone_number').text(data['phone_number']);
        $('#category').text(data['category']);
        $('#first_name').attr("alt",data['id']);
        $('#submit ').attr("data-id",data['id']);


    },
    failure: function(data) {
        alert('Got an error dude');
    }
});
            });

        });
    </script>
<script>
$(document).ready(function() {
    $('#submit').click(function(){
    // alert("jquery world")
    var formData = $("#form")
    var messageInput = $("#id_message")
    var chatItems = $('#chat-items')
    var loc = window.location
    var wsStart = "ws://"
    if (loc.protocol == "https:") {
        wsStart = "wss://"
    }
    var webSocketEndpoint = wsStart + loc.host + "/staff/"+$('#first_name').attr('alt')+"/" // ws : wss
    console.log(webSocketEndpoint, $('#first_name').attr("alt"))
    var socket = new WebSocket(webSocketEndpoint)
    socket.onmessage = function (e) {
        console.log('message', e)
        // alert(e.data)
        {#var msgData = JSON.parse(e.data)#}
        {#console.log(msgData)#}
        {#chatItems.append(`<li>${msgData.msg} via ${msgData.user}</li>`)#}
    };
    socket.onopen = function (e) {
        console.log('open', e)

            {#var messageText = messageInput.val()#}
            {#console.log(messageText)#}
            var jsonData = JSON.stringify({msg: $('p[name=guest]').attr('id'), user: '/media/images/6_v7t5qes.jpg'})
            socket.send(jsonData)
    };
    socket.onerror = function (e) {
        console.log('error', e)
    };
    socket.onclose = function (e) {
        console.log('closed', e)
    };
    if (socket.readyState == WebSocket.OPEN) {
    } else if (socket.readyState == WebSocket.CONNECTING) {
        console.log("connecting..")
    }

}) ;

})
</script>



</body>


<html>