{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FUpload</title>
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/loader.css' %}">
</head>
<body>
    <div id="main">
        <section>
            <div class="img-part col">
                <div class="img-presentation">
                    <div class="wrapper">
                        <div id="img-preview">
                            <div class="loader">
                                <div class="loader-text">
                                    <div class="lds-spinner">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="img-upload">
                    <div class="img-upload__hd hd">Загрузите пасспорт</div>
                    <form action="">
                        {% csrf_token %}
                        <div class="field">
                            <label for="file">
                                <span class="src"></span>
                                <span class="upload-btn">Отметить</span>
                            </label>
                            <input type="file" id="file" name="img-file" accept="images/*">
                        </div>
                        <div class="btn-con">
                            <input type="submit" id="send" name="send" value="Загрузить" alt="0">
                        </div>
                    </form>
                </div>
            </div>
            <div class="form-part col">
                <div class="wrapper">
                    <div class="form-part__hd hd">Details</div>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="fcol">
                                <div class="f-item">
                                    <label>Имя</label>
                                    <input type="text" class="fi" name="first_name" placeholder="Имя">
                                </div>
                            </div>
                            <div class="fcol">
                                <div class="f-item">
                                    <label>Фамилия</label>
                                    <input type="text" class="fi" name="last_name" placeholder="Фамилия">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="fcol">
                                <div class="f-item">
                                    <label>Национальность</label>
                                    <input type="text" class="fi" name="citizenship" placeholder="Национальность">
                                </div>
                            </div>
                            <div class="fcol">
                                <div class="f-item">
                                    <label>Дата рождения</label>
                                    <input type="text" class="fi" name="date_of_birth" placeholder="Дата рождения">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="fcol">
                                <div class="f-item">
                                    <label>Серия / Номер пасспорта</label>
                                    <input type="text" class="fi" name="passport_number" placeholder="Серия / Номер пасспорта">
                                </div>
                            </div>
                            <div class="fcol">
                                <div class="f-item">
                                    <label>Пол</label>
                                    <input type="text" class="fi" name="sex" placeholder="Пол">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="fcol">
                                <div class="f-item">
                                    <label>Дата истечения срока</label>
                                    <input type="text" class="fi" name="expiration_date" placeholder="Дата истечения срока">
                                </div>
                            </div>
                        </div>
                        <input  type="hidden" value="" id="hidden_input" name="image" class="someHiddenInput" >
                        <input type="submit" value="Submit" alt="0">
                    </form>

                </div>
            </div>
        </section>
    </div>
    


    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script>
        $(function() {
            
            var imgPriviewCon = $('#img-preview');

            // browse file
            $('#file').change(function() {
                if( this.files.length ) {
                    if( checkFileExt( this.files[0] ) ) {
                        var reader = new FileReader();

                        $(this).siblings('label').find('.src').text( $(this).val() );
                        reader.onload = function( e ) {
                            var image = new Image();

                            image.src = e.target.result;
                            imgPriviewCon.find('img').remove();
                            imgPriviewCon.append( image );
                        }
                        reader.readAsDataURL( this.files[0] );
                    } else {
                        alert('Supported file formats: .png, .jpeg, .jpg, .gif');
                    }
                }
            });


            // send file;
            $('#send').click(function(e) {
                e.preventDefault();
                var file = $('#file'),
                    fd = new FormData();
                    fd.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
                if( file[0].files.length ) {
                    fd.append('image', file[0].files[0]);
                    $.ajax({
                        url: '',
                        type: 'POST',
                        cache: false,
                        contentType: false,
                        processData: false,
                        data: fd,
                        beforeSend: function() {
                            imgPriviewCon.find('.loader').addClass('active');                           
                        },
                        success: function( response ) {
                            imgPriviewCon.find('.loader').removeClass('active');
                            console.log( response );
                            if( response.result == 'ok' ) {
                                $('input[name=first_name]').val( response.firstName );
                                $('input[name=last_name]').val( response.lastName );
                                $('input[name=citizenship]').val( response.nation );
                                $('input[name=date_of_birth]').val( response.birthDate );
                                $('input[name=passport_number]').val( response.passportNumber );
                                $('input[name=sex]').val( response.sex );
                                $('input[name=expiration_date]').val( response.expiration );
                                $('input[name=image]').val(response.img);
                            } else {
                                alert( 'Загруженный вами файл, не соответствует стандарту DOC 9303!' );
                                resetForm( $('form') );
                            }
                        },
                        error( error ) {
                            console.log(error.text);
                            resetForm( $('form') );
                        }

                    })
                } else {
                    alert('Please select image file to upload!');
                }
            });
        });

        // check file extension
        function checkFileExt( file ) {
            return (/\.(png|jpeg|jpg|gif)$/i).test(file.name)
        }

        function resetForm( arrForm ) {
            arrForm.each(function() {
                this.reset();
            })
        }

    </script>
   <script> $(document).ready(function() {


    // alert("jquery world")
    var formData = $("#form")
    var messageInput = $("#id_message")
    var chatItems = $('#chat-items')
    var loc = window.location
    var wsStart = "ws://"
    if (loc.protocol == "https:") {
        wsStart = "wss://"
    }
    var webSocketEndpoint = wsStart +loc.host+  "/security/" // ws : wss
    console.log(webSocketEndpoint)
    var socket = new WebSocket(webSocketEndpoint)
    socket.onmessage = function (e) {
        console.log('message', e)
        // alert(e.data)
        {#var msgData = JSON.parse(e.data)#}
        {#console.log(msgData)#}
        {#chatItems.append(`<li>${msgData.msg} via ${msgData.user}</li>`)#}
    }
    socket.onopen = function (e) {
        console.log('open', e)
        {#formData.submit(function (event) {#}
        {#    event.preventDefault()#}
        {#    var messageText = messageInput.val()#}
        {#    console.log(messageText)#}
        {#    var jsonData = JSON.stringify({msg: messageText, user: 'jmitchel3'})#}
        {#    socket.send(jsonData)#}
        {#    formData[0].reset()})#}
    }
    socket.onerror = function (e) {
        console.log('error', e)
    }
    socket.onclose = function (e) {
        console.log('closed', e)
    }
    if (socket.readyState == WebSocket.OPEN) {
    } else if (socket.readyState == WebSocket.CONNECTING) {
        console.log("connecting..")
    }


})
</script>

</body>
</html>